/* variable css */
/* footer-section */
.footer-section.section {
  /* border: 1px solid red; */
  width: 100%;
  height: 100px !important;
  background: #0e0e0e;
  margin-top: 120px;
}
.footer-section.section .container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-section.section .container span {
  font-size: 14px;
  letter-spacing: -0.8px;
  line-height: 1;
  color: #fff;
  font-weight: 400;
}
.footer-section.section .container a.back-top-btn {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.footer-section.section .container a.back-top-btn span {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: transform 0.2s ease-out;
  transform-origin: 100% 0%;
  position: relative;
}
.footer-section.section .container a.back-top-btn span::before {
  content: "Back Top";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  height: 100%;
  transition: transform 0.2s ease-out;
}
.footer-section.section .container a.back-top-btn .arrow-icon-box {
  margin-right: 14px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: url("../../common/img/arrow-img03.svg") no-repeat center center/100% auto;
}
.footer-section.section .container a.back-top-btn .arrow-icon-box img {
  width: 100%;
  display: none;
}
.footer-section.section .container a.back-top-btn:hover span {
  transform: translateY(-100%);
  transform-origin: 0% 0%;
}
.footer-section.section .container span.copyrights {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-section.section .container span.copyrights span.info {
  font-family: "Pretendard Variable";
  margin-bottom: 8px;
  word-break: keep-all;
}
.footer-section.section .container span.copyrights span.copy {
  font-family: "Poppins", sans-serif;
}
.footer-section.section .container a.privacy {
  width: 100px;
}
.footer-section.section .container a.privacy span {
  font-family: "Pretendard Variable";
}

/* footer-section */
.footer-section.section#white-footer {
  background: #fff;
}
.footer-section.section#white-footer .container span {
  color: #2a2a2a;
}
.footer-section.section#white-footer .container a.back-top-btn .arrow-icon-box {
  background: url("../../common/img/arrow-img03.svg") no-repeat center center/100% auto;
}
/* footer#black-footer */
.footer-section.section#black-footer {
  background: #0e0e0e;
}
.footer-section.section#black-footer .container span {
  color: #fff;
}
.footer-section.section#black-footer .container a.back-top-btn .arrow-icon-box {
  background: url("../img/arrow-img03-white.svg") no-repeat center top/100% auto;
}
@media (max-width: 1024px) {
  .footer-section.section {
    height: 200px !important;
  }
  .footer-section.section .container {
    padding: 0 48px;
  }
  .footer-section.section .container span {
    font-weight: 300;
  }
  .footer-section.section .container span.copyrights span.info {
    line-height: 1.5;
    margin-bottom: 18px;
    width: 400px;
  }
}
@media (max-width: 450px) {
  .footer-section.section {
    height: auto !important;
    padding: 50px 14px 40px;
    position: relative;
  }
  .footer-section.section .container {
    flex-direction: column;
  }
  .footer-section.section .container a.back-top-btn {
    position: absolute;
    top: 14px;
  }
  .footer-section.section .container a.back-top-btn .arrow-icon-box {
    display: flex;
    margin: 0;
  }
  .footer-section.section .container a.back-top-btn span {
    display: none !important;
  }
  .footer-section.section .container span.copyrights {
    margin-bottom: 20px;
  }
}