/* variable css */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo-box {
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .logo-box a {
  width: auto;
  height: 100%;
}
header .container .logo-box a img {
  width: auto;
  height: 100%;
}
header .container .menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
header .container .menu-box a.menu-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
header .container .menu-box a.menu-btn span {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
header .container .menu-box a.menu-btn.button-effect::after {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
header .container .menu-box .burger-wrap {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .menu-box .burger-wrap a.burger-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 22px;
  position: relative;
}
header .container .menu-box .burger-wrap a.burger-box span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease;
}
header .container .menu-box .burger-wrap a.burger-box span:nth-child(1) {
  top: 6px;
}
header .container .menu-box .burger-wrap a.burger-box span:nth-child(2) {
  top: 14px;
}
header .container .menu-box .burger-wrap a.burger-box.active span {
  top: 10px !important;
}
header .container .menu-box .burger-wrap a.burger-box.active span:nth-child(1) {
  transform: rotate(45deg);
}
header .container .menu-box .burger-wrap a.burger-box.active span:nth-child(2) {
  transform: rotate(-45deg);
}
header .container .menu-box:hover .button-effect {
  transform: translateY(-100%);
  transform-origin: 0% 0%;
}