/* variable css */
$font-en: "Poppins", sans-serif;
$font-kr: "Pretendard Variable";
$color-black: #2a2a2a;
$color-main: #01990e;

#wrap {
    width: 100%;
    height: auto;

    header {}

    section.work-content-wrap {
        position: relative;
        z-index: 2;
        .container {
            > .title-box {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 180px;
                .sub-title-box {
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    margin-bottom: 120px;
                    .icon-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        left: -32px;
                        bottom: 3px;
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .sub-title {
                        span {
                            font-family: $font-en;
                            font-weight: 400;
                            font-size: 24px;
                            line-height: 1;
                            color: $color-black;
                        }
                    }
                }
                h2.title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    span {
                        font-family: $font-en;
                        font-weight: 500;
                        font-size: 120px;
                        line-height: 1;
                        letter-spacing: -4px;
                        color: $color-black;
                    }
                }
            }

            .work-list-wrap {
                .container {
                    // border: 1px solid red;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    a.work-list-box {
                        // border: 1px solid red;
                        width: calc(100% / 3 - 30px);
                        height: 534px;
                        margin: 30px 15px 30px 15px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        .thumb-img-box {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            overflow: hidden;
                            align-items: center;
                            justify-content: center;
                            transition: scale .6s cubic-bezier(.16,1,.3,1);
                            position: relative;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: scale .6s cubic-bezier(.16,1,.3,1);
                            }
                        }
                        .thumb-img-box::after {
                            content: '';
                            display: block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: rgba(0, 0, 0, .6);
                            opacity: 0;
                            transition: all .6s cubic-bezier(.16,1,.3,1);
                        }
                        > .title-box {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            padding: 40px 40px;
                            span {
                                display: block;
                                font-family: $font-kr;
                                font-weight: 500;
                                font-size: 18px;
                                letter-spacing: -.8px;
                                line-height: 1;
                                color: #fff;
                                opacity: 1;
                                transform: translate(0px, 0px);
                                transition: all .4s ease;
                            }
                        }
                        .hover-title-box {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            padding: 40px 40px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            .icon-box {
                                width: 24px;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin-bottom: 30px;
                                img {
                                    width: 100%;
                                    opacity: 0;
                                    transform: translate(0px, 30px);
                                    transition: all .4s ease;
                                }
                            }
                            .title-box {
                                margin-bottom: 20px;
                                span {
                                    display: block;
                                    font-family: $font-kr;
                                    font-weight: 500;
                                    font-size: 18px;
                                    letter-spacing: -.8px;
                                    line-height: 1;
                                    color: #fff;
                                    opacity: 0;
                                    transform: translate(0px, 30px);
                                    transition: all .4s ease;
                                    transition-delay: .08s;
                                }
                            }
                            .desc-box {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                span {
                                    display: block;
                                    font-family: $font-en;
                                    font-weight: 500;
                                    font-size: 30px;
                                    letter-spacing: -.8px;
                                    line-height: 1.5;
                                    color: #fff;
                                    opacity: 0;
                                    transform: translate(0px, 30px);
                                    transition: all .4s ease;
                                }
                                span:nth-child(1) {
                                    transition-delay: .14s;
                                }
                                span:nth-child(2) {
                                    transition-delay: .18s;
                                }
                                span:nth-child(3) {
                                    transition-delay: .22s;
                                }
                            }
                        }
                    }

                    a.work-list-box:hover {
                        .thumb-img-box {
                            scale: .9;
                            img {
                                scale: 1.0869565217;
                            }
                        }
                        .thumb-img-box::after {
                            opacity: 1;
                        }
                        > .title-box {
                            span {
                                opacity: 0;
                                transform: translate(0px, 20px);
                            }
                        }
                        .hover-title-box {
                            .icon-box {
                                img {
                                    opacity: 1;
                                    transform: translate(0px, 0px);
                                }
                            }
                            .title-box {
                                span {
                                    opacity: 1;
                                    transform: translate(0px, 0px);
                                }
                            }
                            .desc-box {
                                span {
                                    opacity: 1;
                                    transform: translate(0px, 0px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    section.work-content-wrap.web {
        padding-top: 240px;
        margin-bottom: 260px;
    }
}

@media ( max-width: 1024px ) {
    #wrap {
        section.work-content-wrap {
            .container {
                > .title-box {
                    .sub-title-box {
                        .icon-box {
                            span {
                                img {
                                }
                            }
                        }
                        .sub-title {
                            span {
                            }
                        }
                    }
                    h2.title {
                        span {
                        }
                    }
                }
    
                .work-list-wrap {
                    .container {
                        padding: 0;
                        a.work-list-box {
                            height: 380px;
                            .thumb-img-box {
                                img {
                                }
                            }
                            .thumb-img-box::after {
                            }
                            > .title-box {
                                span {
                                }
                            }
                            .hover-title-box {
                                .icon-box {
                                    img {
                                    }
                                }
                                .title-box {
                                    span {
                                    }
                                }
                                .desc-box {
                                    span {
                                    }
                                    span:nth-child(1) {
                                    }
                                    span:nth-child(2) {
                                    }
                                    span:nth-child(3) {
                                    }
                                }
                            }
                        }
    
                        a.work-list-box:hover {
                            .thumb-img-box {
                                img {
                                }
                            }
                            .thumb-img-box::after {
                            }
                            > .title-box {
                                span {
                                }
                            }
                            .hover-title-box {
                                .icon-box {
                                    img {
                                    }
                                }
                                .title-box {
                                    span {
                                    }
                                }
                                .desc-box {
                                    span {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media ( max-width: 450px ) {
    #wrap {
        section.work-content-wrap {
            .container {
                > .title-box {
                    margin-bottom: 120px;
                    .sub-title-box {
                        margin-bottom: 42px;
                        .icon-box {
                            width: 14px;
                            height: 14px;
                            left: -28px;
                            span {
                                img {
                                }
                            }
                        }
                        .sub-title {
                            span {
                                font-size: 18px;
                            }
                        }
                    }
                    h2.title {
                        span {
                            font-size: 64px;
                        }
                    }
                }
    
                .work-list-wrap {
                    .container {
                        flex-direction: column;
                        a.work-list-box {
                            width: 100%;
                            height: 240px;
                            margin: 0;
                            .thumb-img-box {
                                img {
                                }
                            }
                            .thumb-img-box::after {
                            }
                            > .title-box {
                                padding: 20px 20px;
                                span {
                                }
                            }
                            .hover-title-box {
                                padding: 30px 40px;
                                .icon-box {
                                    width: 14px;
                                    height: 14px;
                                    img {
                                    }
                                }
                                .title-box {
                                    span {
                                        font-size: 14px;
                                        font-weight: 300;
                                    }
                                }
                                .desc-box {
                                    span {
                                        font-size: 24px;
                                        line-height: 1.2;
                                        font-weight: 300;
                                    }
                                    span:nth-child(1) {
                                    }
                                    span:nth-child(2) {
                                    }
                                    span:nth-child(3) {
                                    }
                                }
                            }
                        }
    
                        a.work-list-box:hover {
                            .thumb-img-box {
                                img {
                                }
                            }
                            .thumb-img-box::after {
                            }
                            > .title-box {
                                span {
                                }
                            }
                            .hover-title-box {
                                .icon-box {
                                    img {
                                    }
                                }
                                .title-box {
                                    span {
                                    }
                                }
                                .desc-box {
                                    span {
                                    }
                                }
                            }
                        }

                        a.work-list-box:not(:last-child) {
                            margin: 0 0 40px 0;
                        }
                    }
                }
            }
        }
        section.work-content-wrap.web {
            padding-top: 160px;
        }
    }
}