/* variable css */
body::-webkit-scrollbar {
  display: none;
}

#wrap {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 780px;
}
#wrap .visual-content-wrap .video-box {
  position: absolute;
  top: 0;
}
#wrap .visual-content-wrap .video-box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap .visual-content-wrap .container {
  position: relative;
  z-index: 2;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#wrap .visual-content-wrap .container .title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#wrap .visual-content-wrap .container .title-box h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#wrap .visual-content-wrap .container .title-box h1 span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 190px;
  line-height: 1;
  letter-spacing: -4px;
  color: #fff;
}
#wrap .visual-content-wrap .container .desc-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#wrap .visual-content-wrap .container .desc-box span {
  font-family: "Pretendard Variable";
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -2px;
  color: #fff;
}
#wrap .visual-content-wrap .container .desc-box span.bold {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 24px;
}