/* variable css */
$font-en: "Poppins", sans-serif;
$font-kr: "Pretendard Variable";
$color-black: #2a2a2a;
$color-main: #01990e;

/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision !important;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body::-webkit-scrollbar {
    display: none;
}

#wrap {
    position: relative;
}

.container {
    width: 1440px;
    height: auto;
}
.about-container {
    max-width: 1000px;
}
section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.content-wrap {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
    display: flex;
}
.selecter {
    display: flex;
    overflow: hidden;
    width: inherit;
    height: inherit;
}

.go-to-top {
    cursor: pointer;
}

/* gsap css */
.gsap-fade-up {
    transform: translateY(44px);
    opacity: 0;
}
.button-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .4s ease;
}
.button-effect::after {
    content: attr(data-hover);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    height: 100%;
}
.button-effect:hover {
    transform: translateY(-100%);
    transform-origin: 0% 0%;
}

.desc {
    .button-box {
        margin-top: 40px;
        display: flex;
        justify-content: end;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            span.button-effect {
                height: 40px;
                font-family: $font-en;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                letter-spacing: -.4px;
                color: $color-black;
            }
            .icon-box {
                width: 40px;
                height: 40px;
                padding: 17px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
        }
    }
}

/* section-title-box */
.section-title-box {
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        h2.title {
            font-family: $font-en;
            font-weight: 400;
            font-size: 120px;
            line-height: 1;
            letter-spacing: -6px;
            color: $color-black;
            text-align: left;
            span.circle {
                color: $color-main;
                margin-left: 16px;
                font-weight: 600;
            }
        }
        .desc {
            p {
                font-family: $font-kr;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.5;
                letter-spacing: -.4px;
                color: $color-black;
            }
        }
    }
}

/* responsive: laptop */
@media ( max-width: 1024px ) {
    .container {
        width: 100%;
        padding: 0 40px;
    }

    /* section-title-box */
    .section-title-box {
        .container {
            h2.title {
                font-size: 80px;
                letter-spacing: -2px;
                span.circle {
                }
            }
            .desc {
                p {
                }
            }
        }
    }
}

/* responsive: mobile */
@media ( max-width: 450px ) {
    .container {
        padding: 0px 20px;
    }

    /* section-title-box */
    .section-title-box {
        .container {
            flex-direction: column;
            h2.title {
                width: 100%;
                font-size: 56px;
                letter-spacing: -1px;
                margin-bottom: 32px;
                span.circle {
                }
            }
            .desc {
                width: 100%;
                p {
                    font-size: 16px;
                }
            }
        }
    }

    .desc {
        .button-box {
            justify-content: flex-start;
            margin-top: 8px;
            a {
                span.button-effect {
                }
                .icon-box {
                    img {
                    }
                }
            }
        }
    }
}