/* variable css */
$font-kr: "Pretendard Variable";
$font-en: "Poppins", sans-serif;
$color-black: #2a2a2a;
$color-main: #fff;

/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision !important;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1440px;
    height: auto;
}
section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* gsap css */
.gsap-fade-up {
    transform: translateY(44px);
    opacity: 0;
}
.button-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .4s ease;
}
.button-effect::after {
    content: attr(data-hover);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    height: 100%;
}
.button-effect:hover {
    transform: translateY(-100%);
    transform-origin: 0% 0%;
}