/* variable css */
$font-kr: "Pretendard Variable";
$font-en: "Poppins", sans-serif;
$font-black: #2a2a2a;
$color-main: #2D99D7;
$video-black-color: #0e0e0e;



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 130px 0 100px;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        .copyright {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                color: $font-black;
                font-family: $font-en;
                // letter-spacing: -.8px;
                line-height: 1;
                font-size: 32px;
                font-weight: 600;
            }
            span.copy {
                font-family: $font-kr;
                margin-right: 8px;
            }
            span.company {
                font-family: $font-en;
            }
        }
    }
}

footer#white {
    .container {
        .copyright {
            span {
                color: #fff;
            }
        }
    }
}


/* responsive: mobile */
@media ( max-width: 450px ) {
    footer {
        padding: 80px 0 60px 0;
        .container {
            .copyright {
                span {
                    font-size: 28px;
                }
                span.copy {
                }
                span.company {
                }
            }
        }
    }
}