/* variable css */
$font-kr: "Pretendard Variable";
$font-en: "Poppins", sans-serif;
$font-black: #2a2a2a;
$color-main: #2D99D7;
$video-black-color: #0e0e0e;



/* footer-section */
.footer-section.section {
    /* border: 1px solid red; */
    width: 100%;
    height: 100px !important;
    background: $video-black-color;
    margin-top: 120px;
    .container {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-size: 14px;
            letter-spacing: -.8px;
            line-height: 1;
            color: #fff;
            font-weight: 400;
        }
        a.back-top-btn {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            span {
                font-family: $font-en;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                transition: transform 0.2s ease-out;
                transform-origin: 100% 0%;
                position: relative;
            }
            span::before {
                content: 'Back Top';
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 100%;
                height: 100%;
                transition: transform 0.2s ease-out;
            }
            .arrow-icon-box {
                margin-right: 14px;
                width: 14px;
                height: 14px;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                background: url('../../common/img/arrow-img03.svg') no-repeat center center / 100% auto;
                img {
                    width: 100%;
                    display: none;
                }
            }
        }
        a.back-top-btn:hover {
            span {
                transform: translateY(-100%);
                transform-origin: 0% 0%;
            }
        }
        span.copyrights {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span.info {
                font-family: $font-kr;
                margin-bottom: 8px;
                word-break: keep-all;
            }
            span.copy {
                font-family: $font-en;
            }
        }
        a.privacy {
            width: 100px;
            span {
                font-family: $font-kr;
            }
        }
    }
}

/* footer-section */
.footer-section.section#white-footer {
    background: #fff;
    .container {
        span {
            color: $font-black;
        }
        a.back-top-btn {
            span {
            }
            span::before {
            }
            .arrow-icon-box {
                background: url('../../common/img/arrow-img03.svg') no-repeat center center / 100% auto;
            }
        }
        a.back-top-btn:hover {
            span {
            }
        }
        span.copyrights {
            span {
            }
        }
        a.privacy {
            span {
            }
        }
    }
}
/* footer#black-footer */
.footer-section.section#black-footer {
    background: $video-black-color;
    .container {
        span {
            color: #fff;
        }
        a.back-top-btn {
            span {
            }
            span::before {
            }
            .arrow-icon-box {
                background: url('../img/arrow-img03-white.svg') no-repeat center top / 100% auto;
            }
        }
        a.back-top-btn:hover {
            span {
            }
        }
        span.copyrights {
            span {
            }
        }
        a.privacy {
            span {
            }
        }
    }
}

@media ( max-width: 1024px ) {
    .footer-section.section {
        height: 200px !important;
        .container {
            padding: 0 48px;
            span {
                font-weight: 300;
            }
            a.back-top-btn {
                .arrow-icon-box {
                    img {
                    }
                }
                span {
                }
            }
            span.copyrights {
                span {

                }
                span.info {
                    line-height: 1.5;
                    margin-bottom: 18px;
                    width: 400px;
                }
            }
            a.privacy {
                span {
                    
                }
            }
        }
    }
}
@media ( max-width: 450px ) {
    .footer-section.section {
        height: auto !important;
        padding: 50px 14px 40px;
        position: relative;
        .container {
            flex-direction: column;
            a.back-top-btn {
                position: absolute;
                top: 14px;
                .arrow-icon-box {
                    display: flex;
                    margin: 0;

                    img {
                    }
                }
                span {
                    display: none !important;
                }
            }
            span.copyrights {
                margin-bottom: 20px;
                span {

                }
            }
            a.privacy {
                span {
                    
                }
            }
        }
    }
}