/* variable css */
$font-kr: "Pretendard Variable";
$font-en: "Poppins", sans-serif;
$color-black: #2a2a2a;
$color-main: #fff;

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 100%;
        // border: 1px solid red;
        padding: 20px 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-box {
            width: auto;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                width: auto;
                height: 100%;
                svg {
                    width: auto;
                    height: 100%;
                    path {
                        fill: #fff;
                        transition: all .4s ease;
                    }
                }
            }
        }

        .menu-box {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            z-index: 999;
            a.menu-btn {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
                span {
                    color: #fff;
                    font-family: $font-en;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1;
                    transition: all .4s ease;
                }
                span.white {
                    color: #fff !important;
                }
            }
            a.menu-btn.button-effect::after {
                color: #fff;
                font-family: $font-en;
                font-weight: 500;
                font-size: 14px;
                line-height: 1;
            }
            .burger-wrap {
                // border: 1px solid red;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                a.burger-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 16px;
                    height: 22px;
                    position: relative;
                    span {
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        transition: all .4s ease;
                    }
                    span.white {
                        background: #fff !important;
                    }
                    span:nth-child(1) {
                        top: 6px;
                    }
                    span:nth-child(2) {
                        top: 14px;
                    }
                }
                a.burger-box.active {
                    span {
                        top: 10px !important;
                    }
                    span:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    span:nth-child(2) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .menu-box:hover {
            .button-effect {
                transform: translateY(-100%);
                transform-origin: 0% 0%;
            }
        }

        /* nav */
        nav.nav-menu-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: transparent;
            visibility: visible;
            pointer-events: none;
            opacity: 0;
            transition: all .6s ease-out;
            .container {
                // border: 1px solid red;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                ul {
                    li {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            span.hover-text {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                font-family: $font-en;
                                font-weight: 500;
                                font-size: 74px;
                                line-height: 1.3;
                                letter-spacing: -.8px;
                                position: relative;
                                color: #fff;
                                transition: transform 0.2s ease-out;
                            }
                            span.hover-text::before {
                                content: attr(data-hover);
                                position: absolute;
                                top: 100%;
                            }
                        }
                    }
                    li:not(:last-child) {
                        // margin-bottom: 24px;
                    }
                }
            }
        }
        nav.nav-menu-wrap.open {
            background: rgb(68, 68, 68);
            visibility: visible;
            pointer-events: initial;
            opacity: 1;
            transition: all .6s ease-out;
        }

        .floating-box {
            // border: 1px solid red;
            position: fixed;
            right: 40px;
            bottom: 40px;
            opacity: 0;
            pointer-events: none;
            transition: all .4s ease;
            a.back-top-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 300px;
                // background: #fff;
                padding: 14px 14px;
                // opacity: .4;
                opacity: 1;
                transition: all .4s ease;
                position: relative;
                overflow: hidden;
                z-index: 99;
                .img-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 18px;
                    height: 18px;
                    background: url('../../common/img/icon-go-to-top.svg') no-repeat center center / cover;
                }
                span {
                    display: block;
                    width: 0px;
                    height: 18px;
                    overflow: hidden;
                    margin-left: 0px;
                    font-family: $font-en;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1;
                    // letter-spacing: -.8px;
                    color: $color-black;
                    white-space: nowrap;
                    transition: all .4s ease;
                }
            }
            a.back-top-btn::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: #fff;
                opacity: .2;
                position: absolute;
                top: 0;
                left: 0;
                transition: all .4s ease;
                z-index: -1;
            }
            a.back-top-btn:hover {
                opacity: 1;
                span {
                    width: 46px;
                    margin-left: 8px;
                }
            }
            a.back-top-btn:hover::after {
                opacity: 1;
            }
        }
        .floating-box.black {
            a.back-top-btn {
                // background: $color-black;
                .img-box {
                    background: url('../../common/img/icon-go-to-top-white.svg') no-repeat center center / cover;
                }
                span {
                    color: #fff;
                }
            }
            a.back-top-btn::after {
                background: $color-black;
            }
            a.back-top-btn:hover {
                span {
                }
            }
        }

        .sns-floating-box {
            // border: 1px solid red;
            position: fixed;
            right: 40px;
            bottom: 94px;
            opacity: 0;
            pointer-events: none;
            transition: all .4s ease;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            z-index: 99;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 300px;
                // background: #fff;
                padding: 14px 14px;
                // opacity: .4;
                opacity: 1;
                transition: all .4s ease;
                position: relative;
                overflow: hidden;
                .img-box {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 18px;
                    height: 18px;
                    background: url('../../common/img/icon-sns-blog.svg') no-repeat center center / cover;
                }
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 0px;
                    height: 18px;
                    overflow: hidden;
                    margin-left: 0px;
                    font-family: $font-en;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1;
                    // letter-spacing: -.8px;
                    color: $color-black;
                    white-space: nowrap;
                    transition: all .4s ease;
                }
            }
            a::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background: #fff;
                opacity: .2;
                position: absolute;
                top: 0;
                left: 0;
                transition: all .4s ease;
                z-index: -1;
            }
            a:not(:last-child) {
                margin-bottom: 8px;
            }
            a:hover {
                opacity: 1;
                span {
                    width: 80px;
                    margin-left: 8px;
                }
            }
            a:hover::after {
                opacity: 1;
            }
            a.blog {
                .img-box {
                    background: url('../../common/img/icon-sns-blog.svg') no-repeat center center / cover;
                }
            }
            a.youtube {
                .img-box {
                    background: url('../../common/img/icon-sns-youtube.svg') no-repeat center center / cover;
                }
            }
            a.insta {
                .img-box {
                    background: url('../../common/img/icon-sns-insta.svg') no-repeat center center / cover;
                }
            }
            a.github {
                .img-box {
                    background: url('../../common/img/icon-sns-github.svg') no-repeat center center / cover;
                }
            }
        }
        .sns-floating-box.black {
            a {
                // background: $color-black;
                span {
                    color: #fff;
                }
            }
            a::after {
                background: $color-black;
            }
            a.blog {
                .img-box {
                    background: url('../../common/img/icon-sns-blog.svg') no-repeat center center / cover;
                }
            }
            a.youtube {
                .img-box {
                    background: url('../../common/img/icon-sns-youtube.svg') no-repeat center center / cover;
                }
            }
            a.insta {
                .img-box {
                    background: url('../../common/img/icon-sns-insta.svg') no-repeat center center / cover;
                }
            }
        }
    }
}