/* variable css */
$font-en: "Poppins", sans-serif;
$font-kr: "Pretendard Variable";
$color-black: #2a2a2a;
$color-main: #01990e;
#wrap {
    width: 100%;
    height: auto;
    header {
    }

    /* visual-content-wrap */
    section.visual-content-wrap {
        position: relative;
        overflow: hidden;
        padding-top: 0;
        .video-wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            .video-box {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: hue-rotate(165deg) brightness(1);
                }
            }
        }

        .container {
            // border: 1px solid red;
            position: relative;
            z-index: 2;
            padding-top: 530px;
            padding-bottom: 140px;

            .title-box {
                margin-bottom: 220px;
                .sub-title-box {
                    margin-bottom: 140px;
                    .icon-box {
                        width: 24px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 40px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    span.sub-title {
                        font-family: $font-en;
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 1.4;
                        letter-spacing: -.8px;
                        color: #fff;
                    }
                }

                h2.title {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    span {
                        font-family: $font-en;
                        font-weight: 500;
                        font-size: 190px;
                        line-height: 1;
                        letter-spacing: -4px;
                        color: #fff;
                    }
                }
            }

            .desc-box {
                display: flex;
                justify-content: flex-end;
                .text-box {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    span {
                        font-family: $font-kr;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 1.6;
                        letter-spacing: -1px;
                        color: #fff;
                    }
                    span.bold {
                        font-weight: 500;
                        margin-bottom: 24px;
                    }
                    .button-box {
                        margin-top: 34px;
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            span.button-effect {
                                height: 40px;
                                font-family: $font-en;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 1;
                                letter-spacing: -.8px;
                                color: #fff;
                            }
                            .icon-box {
                                width: 40px;
                                height: 40px;
                                padding: 16px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* recent-content-wrap */
    section.recent-content-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-title-box {
            .container {
                h2.title {
                    span.circle {
                    }
                }
                .desc {
                    p {
                    }
                }
            }
        }
        
        .recent-swiper-box {
            width: 100%;
            #recent-swiper {
                width: 100%;
                .swiper-wrapper {
                    width: 100%;
                    .swiper-slide {
                        width: 570px;
                        a.content-link-box {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            .thumb-img-box {
                                width: auto;
                                height: 380px;
                                border-radius: 10px;
                                overflow: hidden;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: scale .6s cubic-bezier(.16,1,.3,1);
                                margin-bottom: 24px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    transition: scale .6s cubic-bezier(.16,1,.3,1);
                                }
                            }
                            .thumb-img-box::after {
                                content: '';
                                position: absolute;
                                display: block;
                                width: 100%;
                                height: 100%;
                                background: #0006;
                                opacity: 0;
                                transition: opacity .3s;
                            }

                            .category-text-box {
                                width: 100%;
                                margin-bottom: 8px;
                                span {
                                    font-family: $font-en;
                                    font-weight: 300;
                                    font-size: 18px;
                                    color: #acacac;
                                    line-height: 1;
                                }
                            }

                            .title-text-box {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                h2.title {
                                    font-family: $font-kr;
                                    font-weight: 500;
                                    font-size: 32px;
                                    line-height: 1.5;
                                    letter-spacing: -.8px;
                                    color: $color-black;
                                    width: calc(100% - 42px - 24px);
                                    word-break: keep-all;
                                }
                                .icon-box {
                                    width: 42px;
                                    height: 42px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid rgba(42, 42, 42, .6);
                                    border-radius: 300px;
                                    transition: all .4s ease;
                                    position: relative;
                                    overflow: hidden;
                                    svg {
                                        width: 16px;
                                        rotate: 315deg;
                                        fill: $color-black;
                                        transition: all .4s ease;
                                        opacity: 1;
                                    }
                                }
                                .icon-box::after {
                                    content: '';
                                    display: block;
                                    width: 16px;
                                    height: 30px;
                                    background: url('../img/icon-slide-button-white.svg') no-repeat center center / contain;
                                    rotate: 315deg;
                                    position: absolute;
                                    translate: -30px 30px;
                                    transition: all .4s ease;
                                    opacity: 0;
                                }
                            }
                        }
                        a.content-link-box:hover {
                            .thumb-img-box {
                                scale: .9;
                                img {
                                    scale: 1.0869565217;
                                }
                            }
                            .thumb-img-box::after {
                                opacity: 1;
                            }

                            .category-text-box {
                                span {
                                }
                            }

                            .title-text-box {
                                h2.title {
                                }
                                .icon-box {
                                    background: $color-main;
                                    border: 1px solid $color-main;
                                    svg {
                                        fill: #fff;
                                        translate: 30px -30px;
                                        opacity: 0;
                                    }
                                }
                                .icon-box::after {
                                    translate: -0px 0px;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* work-content-wrap */
    section.work-content-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .section-title-box {
            .container {
                h2.title {
                    .circle {

                    }
                }
                p.desc {
                    
                }
            }
        }

        .work-list-wrap {
            .container {
                // border: 1px solid red;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                a.work-list-box {
                    // border: 1px solid red;
                    width: calc(100% / 4 - 30px);
                    height: 380px;
                    margin: 30px 15px 30px 15px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .thumb-img-box {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        overflow: hidden;
                        align-items: center;
                        justify-content: center;
                        transition: scale .6s cubic-bezier(.16,1,.3,1);
                        position: relative;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: scale .6s cubic-bezier(.16,1,.3,1);
                        }
                    }
                    .thumb-img-box::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0, 0, 0, .6);
                        opacity: 0;
                        transition: all .6s cubic-bezier(.16,1,.3,1);
                    }
                    > .title-box {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 40px 40px;
                        span {
                            display: block;
                            font-family: $font-kr;
                            font-weight: 500;
                            font-size: 18px;
                            letter-spacing: -.8px;
                            line-height: 1;
                            color: #fff;
                            opacity: 1;
                            transform: translate(0px, 0px);
                            transition: all .4s ease;
                        }
                    }
                    .hover-title-box {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 40px 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        .icon-box {
                            width: 24px;
                            height: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 30px;
                            img {
                                width: 100%;
                                opacity: 0;
                                transform: translate(0px, 30px);
                                transition: all .4s ease;
                            }
                        }
                        .title-box {
                            margin-bottom: 20px;
                            span {
                                display: block;
                                font-family: $font-kr;
                                font-weight: 500;
                                font-size: 18px;
                                letter-spacing: -.8px;
                                line-height: 1;
                                color: #fff;
                                opacity: 0;
                                transform: translate(0px, 30px);
                                transition: all .4s ease;
                                transition-delay: .08s;
                            }
                        }
                        .desc-box {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            span {
                                display: block;
                                font-family: $font-en;
                                font-weight: 500;
                                font-size: 30px;
                                letter-spacing: -.8px;
                                line-height: 1.5;
                                color: #fff;
                                opacity: 0;
                                transform: translate(0px, 30px);
                                transition: all .4s ease;
                            }
                            span:nth-child(1) {
                                transition-delay: .14s;
                            }
                            span:nth-child(2) {
                                transition-delay: .18s;
                            }
                            span:nth-child(3) {
                                transition-delay: .22s;
                            }
                        }
                    }
                }

                a.work-list-box:hover {
                    .thumb-img-box {
                        scale: .9;
                        img {
                            scale: 1.0869565217;
                        }
                    }
                    .thumb-img-box::after {
                        opacity: 1;
                    }
                    > .title-box {
                        span {
                            opacity: 0;
                            transform: translate(0px, 20px);
                        }
                    }
                    .hover-title-box {
                        .icon-box {
                            img {
                                opacity: 1;
                                transform: translate(0px, 0px);
                            }
                        }
                        .title-box {
                            span {
                                opacity: 1;
                                transform: translate(0px, 0px);
                            }
                        }
                        .desc-box {
                            span {
                                opacity: 1;
                                transform: translate(0px, 0px);
                            }
                        }
                    }
                }
            }
        }
    }

    /* contact-content-wrap */
    section.contact-content-wrap {
        width: 100%;
        .contact-content-area {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .container {
                .contact-list-box {
                    background: #e5e7ea;
                    padding: 80px 40px;
                    display: flex;
                    .contact-text-box {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        padding: 0 120px;
                        a {
                            display: flex;
                        }
                        span {
                            font-family: $font-en;
                            line-height: 1;
                            letter-spacing: -.8px;
                        }
                        span.category {
                            font-size: 18px;
                            font-weight: 300;
                            color: #666;
                            margin-bottom: 40px;
                        }
                        span.name {
                            font-size: 46px;
                            font-weight: 500;
                            color: $color-black;
                        }
                    }
                }
            }
        }
    }
}


@media ( max-width: 1024px ) {
    #wrap {
        /* visual-content-wrap */
        section.visual-content-wrap {
            .video-wrap {
                .video-box {
                    video {
                    }
                }
            }

            .container {
                padding-top: 300px;
                padding-bottom: 100px;
                .title-box {
                    margin-bottom: 140px;
                    .sub-title-box {
                        .icon-box {
                            img {
                            }
                        }
                        span.sub-title {
                        }
                    }

                    h2.title {
                        span {
                            font-size: 150px;
                        }
                    }
                }

                .desc-box {
                    .text-box {
                        span {
                            font-size: 18px;
                        }
                        span.bold {
                        }
                        .button-box {
                            a {
                                span.button-effect {
                                }
                                .icon-box {
                                    img {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* recent-content-wrap */
        section.recent-content-wrap {
            padding-top: 100px;
            .section-title-box {
                .container {
                    h2.title {
                        span.circle {
                        }
                    }
                    .desc {
                        p {
                        }
                    }
                }
            }
            
            .recent-swiper-box {
                #recent-swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            a.content-link-box {
                                .thumb-img-box {
                                    img {
                                    }
                                }
                                .thumb-img-box::after {
                                }

                                .category-text-box {
                                    span {
                                        font-size: 16px;
                                    }
                                }

                                .title-text-box {
                                    h2.title {
                                        font-size: 24px;
                                    }
                                    .icon-box {
                                        svg {
                                        }
                                    }
                                    .icon-box::after {
                                    }
                                }
                            }
                            a.content-link-box:hover {
                                .thumb-img-box {
                                    img {
                                    }
                                }
                                .thumb-img-box::after {
                                }

                                .category-text-box {
                                    span {
                                    }
                                }

                                .title-text-box {
                                    h2.title {
                                    }
                                    .icon-box {
                                        svg {
                                        }
                                    }
                                    .icon-box::after {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* work-content-wrap */
        section.work-content-wrap {
            padding-top: 100px;
            .section-title-box {
                .container {
                    h2.title {
                        .circle {

                        }
                    }
                    p.desc {
                        
                    }
                }
            }

            .work-list-wrap {
                .container {
                    a.work-list-box {
                        width: calc(100% / 3 - 30px);
                        .thumb-img-box {
                            img {
                            }
                        }
                        .thumb-img-box::after {
                        }
                        > .title-box {
                            span {
                            }
                        }
                        .hover-title-box {
                            .icon-box {
                                img {
                                }
                            }
                            .title-box {
                                span {
                                }
                            }
                            .desc-box {
                                span {
                                }
                                span:nth-child(1) {
                                }
                                span:nth-child(2) {
                                }
                                span:nth-child(3) {
                                }
                            }
                        }
                    }

                    a.work-list-box:hover {
                        .thumb-img-box {
                            img {
                            }
                        }
                        .thumb-img-box::after {
                        }
                        > .title-box {
                            span {
                            }
                        }
                        .hover-title-box {
                            .icon-box {
                                img {
                                }
                            }
                            .title-box {
                                span {
                                }
                            }
                            .desc-box {
                                span {
                                }
                            }
                        }
                    }
                }
            }
        }

        /* contact-content-wrap */
        section.contact-content-wrap {
            padding-top: 100px;
            .contact-content-area {
                .container {
                    .contact-list-box {
                        .contact-text-box {
                            padding: 0;
                            a {
                            }
                            span {
                            }
                            span.category {
                                font-size: 16px;
                            }
                            span.name {
                                font-size: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media ( max-width: 450px ) {
    #wrap {
        /* visual-content-wrap */
        section.visual-content-wrap {
            .video-wrap {
                .video-box {
                    video {
                    }
                }
            }

            .container {
                padding-top: 60vh;
                .title-box {
                    margin-bottom: 120px;
                    .sub-title-box {
                        margin-bottom: 42px;
                        .icon-box {
                            width: 18px;
                            height: 18px;
                            img {
                            }
                        }
                        span.sub-title {
                            font-size: 18px;
                        }
                    }

                    h2.title {
                        span {
                            font-size: 64px;
                        }
                    }
                }

                .desc-box {
                    justify-content: flex-start;
                    .text-box {
                        span {
                            font-size: 16px;
                            letter-spacing: -.8px;
                        }
                        span.bold {
                        }
                        .button-box {
                            a {
                                span.button-effect {
                                    font-size: 16px;
                                }
                                .icon-box {
                                    padding: 17px;
                                    img {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* recent-content-wrap */
        section.recent-content-wrap {
            .section-title-box {
                .container {
                    h2.title {
                        span.circle {
                        }
                    }
                    .desc {
                        p {
                        }
                    }
                }
            }
            
            .recent-swiper-box {
                // padding: 0 20px;
                #recent-swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;
                            padding: 0 20px;
                            a.content-link-box {
                                .thumb-img-box {
                                    height: 250px;
                                    img {
                                    }
                                }
                                .thumb-img-box::after {
                                }

                                .category-text-box {
                                    span {
                                        font-size: 14px;
                                    }
                                }

                                .title-text-box {
                                    h2.title {
                                        font-size: 22px;
                                        font-weight: 500;
                                        width: calc(100% - 32px - 24px);
                                    }
                                    .icon-box {
                                        width: 32px;
                                        height: 32px;
                                        svg {
                                            width: 12px;
                                        }
                                    }
                                    .icon-box::after {
                                        width: 12px;
                                    }
                                }
                            }
                            a.content-link-box:hover {
                                .thumb-img-box {
                                    border-radius: 6px;
                                    img {
                                    }
                                }
                                .thumb-img-box::after {
                                }

                                .category-text-box {
                                    span {
                                    }
                                }

                                .title-text-box {
                                    h2.title {
                                    }
                                    .icon-box {
                                        svg {
                                        }
                                    }
                                    .icon-box::after {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        /* work-content-wrap */
        section.work-content-wrap {
            .section-title-box {
                .container {
                    h2.title {
                        .circle {

                        }
                    }
                    p.desc {
                        
                    }
                }
            }

            .work-list-wrap {
                .container {
                    a.work-list-box {
                        width: 100%;
                        height: 240px;
                        margin: 0;
                        .thumb-img-box {
                            img {
                            }
                        }
                        .thumb-img-box::after {
                        }
                        > .title-box {
                            padding: 20px 20px;
                            span {
                            }
                        }
                        .hover-title-box {
                            padding: 30px 40px;
                            .icon-box {
                                width: 14px;
                                height: 14px;
                                img {
                                }
                            }
                            .title-box {
                                span {
                                    font-size: 14px;
                                    font-weight: 300;
                                }
                            }
                            .desc-box {
                                span {
                                    font-size: 24px;
                                    line-height: 1.2;
                                    font-weight: 300;
                                }
                                span:nth-child(1) {
                                }
                                span:nth-child(2) {
                                }
                                span:nth-child(3) {
                                }
                            }
                        }
                    }

                    a.work-list-box:hover {
                        .thumb-img-box {
                            img {
                            }
                        }
                        .thumb-img-box::after {
                        }
                        > .title-box {
                            span {
                            }
                        }
                        .hover-title-box {
                            .icon-box {
                                img {
                                }
                            }
                            .title-box {
                                span {
                                }
                            }
                            .desc-box {
                                span {
                                }
                            }
                        }
                    }
                    
                    a.work-list-box:not(:last-child) {
                        margin: 0 0 40px 0;
                    }
                }
            }
        }

        /* contact-content-wrap */
        section.contact-content-wrap {
            .contact-content-area {
                .container {
                    .contact-list-box {
                        flex-direction: column;
                        padding: 48px 24px;
                        .contact-text-box {
                            width: 100%;
                            a {
                            }
                            span {
                                letter-spacing: 0px;
                            }
                            span.category {
                                font-size: 14px;
                                margin-bottom: 18px;
                            }
                            span.name {
                                font-size: 24px;
                            }
                        }
                        .contact-text-box:not(:last-child) {
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
}