/* variable css */
#wrap {
  width: 100%;
  height: auto;
}
#wrap section.work-content-wrap {
  position: relative;
  z-index: 2;
}
#wrap section.work-content-wrap .container > .title-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
}
#wrap section.work-content-wrap .container > .title-box .sub-title-box {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 120px;
}
#wrap section.work-content-wrap .container > .title-box .sub-title-box .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  position: absolute;
  left: -32px;
  bottom: 3px;
}
#wrap section.work-content-wrap .container > .title-box .sub-title-box .icon-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#wrap section.work-content-wrap .container > .title-box .sub-title-box .icon-box span img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section.work-content-wrap .container > .title-box .sub-title-box .sub-title span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #2a2a2a;
}
#wrap section.work-content-wrap .container > .title-box h2.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#wrap section.work-content-wrap .container > .title-box h2.title span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
  color: #2a2a2a;
}
#wrap section.work-content-wrap .container .work-list-wrap .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box {
  width: calc(33.3333333333% - 30px);
  height: 534px;
  margin: 30px 15px 30px 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .thumb-img-box {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: scale 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  position: relative;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .thumb-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .thumb-img-box::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box > .title-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 40px;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box > .title-box span {
  display: block;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.8px;
  line-height: 1;
  color: #fff;
  opacity: 1;
  transform: translate(0px, 0px);
  transition: all 0.4s ease;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .icon-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .icon-box img {
  width: 100%;
  opacity: 0;
  transform: translate(0px, 30px);
  transition: all 0.4s ease;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .title-box {
  margin-bottom: 20px;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .title-box span {
  display: block;
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.8px;
  line-height: 1;
  color: #fff;
  opacity: 0;
  transform: translate(0px, 30px);
  transition: all 0.4s ease;
  transition-delay: 0.08s;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .desc-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .desc-box span {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -0.8px;
  line-height: 1.5;
  color: #fff;
  opacity: 0;
  transform: translate(0px, 30px);
  transition: all 0.4s ease;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .desc-box span:nth-child(1) {
  transition-delay: 0.14s;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .desc-box span:nth-child(2) {
  transition-delay: 0.18s;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .desc-box span:nth-child(3) {
  transition-delay: 0.22s;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box:hover .thumb-img-box {
  scale: 0.9;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box:hover .thumb-img-box img {
  scale: 1.0869565217;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box:hover .thumb-img-box::after {
  opacity: 1;
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box:hover > .title-box span {
  opacity: 0;
  transform: translate(0px, 20px);
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box:hover .hover-title-box .icon-box img {
  opacity: 1;
  transform: translate(0px, 0px);
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box:hover .hover-title-box .title-box span {
  opacity: 1;
  transform: translate(0px, 0px);
}
#wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box:hover .hover-title-box .desc-box span {
  opacity: 1;
  transform: translate(0px, 0px);
}
#wrap section.work-content-wrap.web {
  padding-top: 240px;
  margin-bottom: 260px;
}

@media (max-width: 1024px) {
  #wrap section.work-content-wrap .container .work-list-wrap .container {
    padding: 0;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box {
    height: 380px;
  }
}
@media (max-width: 450px) {
  #wrap section.work-content-wrap .container > .title-box {
    margin-bottom: 120px;
  }
  #wrap section.work-content-wrap .container > .title-box .sub-title-box {
    margin-bottom: 42px;
  }
  #wrap section.work-content-wrap .container > .title-box .sub-title-box .icon-box {
    width: 14px;
    height: 14px;
    left: -28px;
  }
  #wrap section.work-content-wrap .container > .title-box .sub-title-box .sub-title span {
    font-size: 18px;
  }
  #wrap section.work-content-wrap .container > .title-box h2.title span {
    font-size: 64px;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container {
    flex-direction: column;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box {
    width: 100%;
    height: 240px;
    margin: 0;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box > .title-box {
    padding: 20px 20px;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box {
    padding: 30px 40px;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .icon-box {
    width: 14px;
    height: 14px;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .title-box span {
    font-size: 14px;
    font-weight: 300;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box .hover-title-box .desc-box span {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
  }
  #wrap section.work-content-wrap .container .work-list-wrap .container a.work-list-box:not(:last-child) {
    margin: 0 0 40px 0;
  }
  #wrap section.work-content-wrap.web {
    padding-top: 160px;
  }
}