/* variable css */
$font-en: "Poppins", sans-serif;
$font-kr: "Pretendard Variable";
$color-black: #2a2a2a;
$color-main: #fff;
body::-webkit-scrollbar {
    display: none;
}
#wrap {
    width: 100%;
    height: auto;
    header {

    }

    section.video-content-wrap {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        .background-video-box {
            width: 100%;
            height: 100%;
            .video-box {
                width: 100%;
                height: 100%;
                aspect-ratio: 1920 / 1080;
                display: flex;
                align-items: center;
                justify-content: center;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: hue-rotate(165deg) brightness(1);
                }
            }
            .screen-box {
                background: #000;
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
    }

}