/* variable css */
$font-kr: "Poppins", sans-serif;
$font-en: "Pretendard Variable";
$color-black: #2a2a2a;
$color-main: #fff;
body::-webkit-scrollbar {
    display: none;
}
#wrap {
    width: 100%;
    height: auto;
    header {

    }

    section.video-content-wrap {
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        .background-video-box {
            width: 100%;
            height: auto;
            .video-box {
                width: 100%;
                height: auto;
                aspect-ratio: 1920 / 1080;
                display: flex;
                align-items: center;
                justify-content: center;
                video {
                    width: 100%;
                    height: auto;
                }
            }
            .screen-box {
                background: #000;
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
        }
    }

    section.main-content-wrap {
        position: relative;
        z-index: 2;
        padding-top: 88vh;
        .container {
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .title-box {
                margin-bottom: 260px;
                h1.title {
                    font-family: $font-en;
                    font-weight: 700;
                    font-size: 120px;
                    line-height: 1;
                    letter-spacing: -2px;
                    text-align: center;
                    color: #fff;
                    word-break: keep-all;
                    white-space: pre-line;
                }
            }
            .para-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 50px;
                max-width: 1000px;
                p {
                    font-family: $font-en;
                    font-weight: 500;
                    font-size: 52px;
                    line-height: 1.4;
                    letter-spacing: -2px;
                    color: #fff;
                    text-align: left;
                    word-break: keep-all;
                }
                p:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
            .para-box.right {
                align-items: flex-end;
                padding-left: 30%;
                margin-bottom: 100px;
                p {
                    text-align: right;
                    font-family: $font-kr;
                    font-weight: 600;
                    font-size: 18px;
                    letter-spacing: -.8px;
                }
            }
        }
    }
}