/* variable css */
body::-webkit-scrollbar {
  display: none;
}

#wrap {
  width: 100%;
  height: auto;
}
#wrap section.video-content-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#wrap section.video-content-wrap .background-video-box {
  width: 100%;
  height: 100%;
}
#wrap section.video-content-wrap .background-video-box .video-box {
  width: 100%;
  height: 100%;
  aspect-ratio: 1920/1080;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap section.video-content-wrap .background-video-box .video-box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#wrap section.video-content-wrap .background-video-box .screen-box {
  background: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
#wrap section.main-content-wrap {
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding-top: 88vh;
  width: 100%;
}
#wrap section.main-content-wrap .container {
  max-width: 1000px;
}
#wrap section.main-content-wrap section:not(:last-child) .container {
  border-bottom: 1px solid #fff;
  padding-bottom: 100px;
  margin-bottom: 260px;
}
#wrap section.main-content-wrap .intro-text-box {
  width: 100%;
  height: auto;
}
#wrap section.main-content-wrap .intro-text-box .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#wrap section.main-content-wrap .intro-text-box .container .title-box {
  margin-bottom: 260px;
}
#wrap section.main-content-wrap .intro-text-box .container .title-box h1.title {
  font-family: "Pretendard Variable";
  font-weight: 700;
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
  text-align: center;
  color: #fff;
  word-break: keep-all;
  white-space: pre-line;
}
#wrap section.main-content-wrap .intro-text-box .container .para-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 50px;
  max-width: 1000px;
}
#wrap section.main-content-wrap .intro-text-box .container .para-box p {
  font-family: "Pretendard Variable";
  font-weight: 500;
  font-size: 52px;
  line-height: 1.4;
  letter-spacing: -2px;
  color: #fff;
  text-align: left;
  word-break: keep-all;
}
#wrap section.main-content-wrap .intro-text-box .container .para-box p:not(:last-child) {
  margin-bottom: 40px;
}
#wrap section.main-content-wrap .intro-text-box .container .para-box.right {
  align-items: flex-end;
  padding-left: 30%;
}
#wrap section.main-content-wrap .intro-text-box .container .para-box.right p {
  text-align: right;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.8px;
}